{% set pdf = true %}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>SumUp</title>
	<meta name="theme-color" content="#711d2a">
	<link rel="icon" href="{{ app.request.getSchemeAndHttpHost() ~ asset('img/design/logo-icon-min.png') }}">
	
	<!-- CSS  -->
	{% block stylesheet %}
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" >
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/materialize.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/animate.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/loader.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
	{% endblock %}
</head>
<body>
	
	<div class="row">
		<div class="col s12 " style="padding: 0px; top: 0px; position: absolute; margin-top: 0px; border: none; background-color: white; display: block;">
			<div id="export_body" class="col s12 ">
				<div class="col s12 center-align" style="padding-bottom: 20px;">
					<div class="row center-align">
						<h2 style="font-size: 3rem;"><span class="hide-on-small-only"><i class="fa fa-book"></i> </span>Compte courant</h2>
						<h5 class="col s12 center-align">{{ dateTemp|date("m/Y") }}</h5>
					</div>
					<h2 class="divider-new-right left"><i class="fa fa-history left hide-on-small-only"></i>Etat du compte le 01/{{ dateTemp|date("m/Y") }}</h2>
					<table class="striped highlight centered" style="width: 100%;">
						<tbody>
							<tr class="ligne_ac_amount">
								<td><b>Total</b></td>
								<td class="montant_option"><b><span>{{ app.session.get("currentAccount").getFirstAmount()|number_format(2, ',', ' ') }}</span> €</b></td>
							</tr>
						</tbody>
					</table>
					<br>
					<h2 class="divider-new-right left"><i class="fa fa-list-ul left hide-on-small-only"></i>Opérations depuis le 01/{{ dateTemp|date("m/Y") }}</h2>
					<table class="striped highlight centered responsive-table">
						<thead>
							<tr>
								<th>Type</th>
								<th>Catégorie</th>
								<th>Date</th>
								<th>Montant</th>
							</tr>
						</thead>
						
						<tbody id="month_operations_tbody">
						{{ render(controller("SUAccountBundle:Account:getMonthOperations", {"pdf": 1, "date": dateTemp|date('Ym') })) }}
						</tbody>
					</table>
					<br>
					<h2 class="divider-new-right left"><i class="fa fa-hourglass-2 left hide-on-small-only"></i>Opérations en attente</h2>
					<table class="striped highlight centered responsive-table" style="width: 100%;">
						<thead>
							<tr>
								<th>Type</th>
								<th>Catégorie</th>
								<th>Aura lieu le</th>
								<th>Montant</th>
							</tr>
						</thead>
						
						<tbody id="future_operations_tbody">
							{{ render(controller("SUAccountBundle:Account:getFutureOperations", {"pdf": 1, "date": dateTemp|date('Ym') })) }}
						</tbody>
					</table>
					<br>
				</div>
			</div>
		</div>
	</div>

	{% block javascript %}
	<script src="{{ app.request.getSchemeAndHttpHost() ~ asset('js/jquery-2.2.2.js') }}"></script>
	<script src="{{ app.request.getSchemeAndHttpHost() ~ asset('js/materialize.js') }}"></script>
	<script src="{{ app.request.getSchemeAndHttpHost() ~ asset('js/scroll-to.js') }}"></script>
	<script src="{{ app.request.getSchemeAndHttpHost() ~ asset('js/jquery.flot.js') }}"></script>
	<script src="{{ app.request.getSchemeAndHttpHost() ~ asset('js/jquery.flot.pie.js') }}"></script>
	{% endblock %}
	<script>
	
		function logo_resize () {
			if ($(window).width() <= 600) {
				$('#logo_navbar').height('50px')
			} else {
				$('#logo_navbar').height('50px')
			}
		}
		
		$(document).ready(function () {
			
			logo_resize();
			
			$(window).resize(function () {
				logo_resize();
			});
		});
	</script>
  </body>
</html>