<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>SumUp</title>
	<meta name="theme-color" content="#711d2a">
	<link rel="icon" href="{{ app.request.getSchemeAndHttpHost() ~ asset('img/design/logo-icon-min.png') }}">

	<!-- CSS  -->
	{% block stylesheet %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" >
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/materialize.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/animate.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/loader.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
	{% endblock %}
</head>
<body>

	<!-- Navigation -->
	<div class="navbar-fixed" id="navbar_wrapper">
		<nav class="cardinal">
			<div class="nav-wrapper">
				<a href="{{ path('su_account_homepage') }}" class="brand-logo center"><img id="logo_navbar" src="{{ app.request.getSchemeAndHttpHost() ~ asset('img/design/logo-icon-min.png') }}" class="responsive-img" style="height: 50px;"></img></a>
			</div>
		</nav>
	</div>
	<!-- /.Navigation -->
	
	<div id="main_wrapper" class="container">
		<div class="col l10 offset-l1 m12 s12 card" style="padding: 0px; border: 1px solid #75828E; min-height: 60%;">
			<section id="export_header" class="kj-grey" style="border-radius: 2px;">
				<div class="row" style="margin-bottom: 0px;">
					<div class="col s12 white-text">
						<h5 class="col s12"><i class="fa fa-table left hide-on-small-only"></i>Récapitulatif</h5>
					</div>
				</div>
			</section>
			<section id="export_body" class="col s12">
				<div class="col s12 center-align" style="padding-bottom: 20px;">
					<div class="row center-align">
						<h2 style="font-size: 3rem;"><span class="hide-on-small-only"><i class="fa fa-book"></i> </span>Compte courant</h2>
						<h5 class="col s12 center-align">{{ "now"|date("m/Y") }}</h5>
					</div>
					<h2 class="divider-new-right"><i class="fa fa-history left hide-on-small-only"></i>Etat du compte le 01/{{ "now"|date("m/Y") }}</h2>
					<table class="striped highlight centered">
						<tbody>
							<tr class="ligne_ac_amount">
								<td><b>Total</b></td>
								<td class="montant_option"><b><span>{{ app.session.get("currentAccount").getFirstAmount()|number_format(2, ',', ' ') }}</span> €</b></td>
								<td id="ac_edition_col" class="edition_option" style="color: #be5f6e;"><span class="edition"><big><big><i class="fa fa-pencil link-hover edit-hover first-ac-amount-pencil"></i></big></big></span></td>
							</tr>
						</tbody>
					</table>
					<br>
					<h2 class="divider-new-right"><i class="fa fa-list-ul left hide-on-small-only"></i>Opérations depuis le 01/{{ "now"|date("m/Y") }}</h2>
					<table class="striped highlight centered responsive-table">
						<thead>
							<tr>
								<th>Type</th>
								<th>Catégorie</th>
								<th>Date</th>
								<th>Montant</th>
								<th>Edition</th>
							</tr>
						</thead>
						
						<tbody id="month_operations_tbody">
						</tbody>
					</table>
					<div id="month_operations_loader" class="row center-align" style="margin-top: 10px; margin-bottom: 100px;">
						<span class="loader loader-triple-grey"></span>
						<br>
						<em>Chargement ...</em>
					</div>
					<br>
					<h2 class="divider-new-right"><i class="fa fa-hourglass-2 left hide-on-small-only"></i>Opérations en attente</h2>
					<table class="striped highlight centered responsive-table">
						<thead>
							<tr>
								<th>Type</th>
								<th>Catégorie</th>
								<th>Aura lieu le</th>
								<th>Montant</th>
								<th>Edition</th>
							</tr>
						</thead>
						
						<tbody id="future_operations_tbody">
						</tbody>
					</table>
					<div id="future_operations_loader" class="row center-align" style="margin-top: 10px; margin-bottom: 100px;">
						<span class="loader loader-triple-grey"></span>
						<br>
						<em>Chargement ...</em>
					</div>
					<br>
					<h2 class="divider-new-right"><i class="fa fa-area-chart left hide-on-small-only"></i>Synthèse</h2>
					<div style="background-color: #f0f0f0; border-radius: 5px; padding: 5px; color: black; border: 1px solid #d0d0d0"><b><big><i class="fa fa-warning"></i> Aide :</big></b> Les graphes suivants vous aiderons à visualiser plus facilement vos entrées et sorties d'argent, ainsi que l'état de votre compte tout au long du mois. Notez que les dépenses prévisionnelles sont prises en compte pour les 3 graphes, mais seules les dépenses prévisionnelles du mois en cours sont représentées sur la courbe. Les dépenses prévisionnelles qui auront lieux dans les prochains mois ne sont prises en compte que sur les deux disques.</div>
					<br>
					<div class="col s12 l6">
						<br>
						<div id="placeholder_wrapper_depenses" class="row">
							<div id="placeholder_depenses" style="height: 300px; width: 300px;"></div>
							<div class='flot-x-axis flot-x1-axis'>
								<p>Synthèse des dépenses (avec opérations en attente)<br>Dépenses totales: <b><span id="out_total"></span> €</b></p>
							</div>
						</div>
					</div>
					<div class="col s12 l6">
						<br>
						<div id="placeholder_wrapper_entrees" class="row">
							<div id="placeholder_entrees" style="height: 300px; width: 300px;"></div>
							<div class='flot-x-axis flot-x1-axis'>
								<p>Synthèse des entrées d'argent (avec opérations en attente)<br>Entrées totales: <b><span id="in_total"></span> €</b></p>
							</div>
						</div>
					</div>
					<div class="col s12">
						<br>
						<br>
						<br>
						<div id="placeholder_wrapper_account" class="row">
							<div id="placeholder_account" style="height: 300px; width: 300px;"></div>
							<div class='flot-x-axis flot-x1-axis'>
								<p>Montant du compte (€) pour le mois {{ "now"|date("m/y") }}</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	{% block javascript %}
	<!--  Scripts-->
	<script src="{{ app.request.getSchemeAndHttpHost() ~ asset('js/jquery-2.2.2.js') }}"></script>
	<script src="{{ app.request.getSchemeAndHttpHost() ~ asset('js/materialize.js') }}"></script>
	<script src="{{ app.request.getSchemeAndHttpHost() ~ asset('js/scroll-to.js') }}"></script>
	{% endblock %}
	<script>
		function logo_resize () {
			if ($(window).width() <= 600) {
				$('#logo_navbar').height('50px')
			} else {
				$('#logo_navbar').height('50px')
			}
		}
		
		$(document).ready(function () {
			
			logo_resize();
			
			$(window).resize(function () {
				logo_resize();
			});
		});
	</script>
  </body>
</html>