{% extends 'SUMainBundle::layout.html.twig' %}

{% set menu_selected = 'home' %}

{% block body %}

<ul class="tabs" style="overflow: hidden;">
	<li id="recap_tab_button" class="tab col s3"><a class="truncate" href="#recap"><i class="fa fa-table"></i><span class="hide-on-small-only"> Récapitulatif</span></a></li>
	<li id="operation_tab_button" class="tab col s3"><a class="truncate active" href="#operation"><i class="fa fa-terminal"></i><span class="hide-on-small-only"> Opérations</span></a></li>
	<li id="export_tab_button" class="tab col s3"><a class="truncate" href="#export"><i class="fa fa-upload"></i><span class="hide-on-small-only"> Exporter</span></a></li>
</ul>

<div class="container" style="margin-top: 20px;">
	<div class="row" style="display: block;">
	
		<div id="recap" class="col s12">
			
			<div class="col l10 offset-l1 m12 s12 card" style="padding: 0px; border: 1px solid #75828E; min-height: 60%;">
				<section id="export_header" class="kj-grey" style="border-radius: 2px;">
					<div class="row" style="margin-bottom: 0px;">
						<div class="col s12 white-text">
							<h5 class="col s12"><i class="fa fa-table left hide-on-small-only"></i>Récapitulatif</h5>
						</div>
					</div>
				</section>
				<section id="export_body" class="col s12">
					<div class="col s12 center-align" style="padding-bottom: 20px;">
						<div class="row center-align">
							<h2 style="font-size: 3rem;"><span class="hide-on-small-only"><i class="fa fa-book"></i> </span>Compte courant</h2>
							<h5 class="col s12 center-align">{{ "now"|date("m/Y") }}</h5>
						</div>
						<h2 class="divider-new-right"><i class="fa fa-history left hide-on-small-only"></i>Etat du compte le 01/{{ "now"|date("m/Y") }}</h2>
						<table class="striped highlight centered">
							<tbody>
								<tr class="ligne_ac_amount">
									<td><b>Total</b></td>
									<td class="montant_option"><b><span>{{ app.session.get("currentAccount").getFirstAmount()|number_format(2, ',', ' ') }}</span> €</b></td>
									<td id="ac_edition_col" class="edition_option" style="color: #be5f6e;"><span class="edition"><big><big><i class="fa fa-pencil link-hover edit-hover first-ac-amount-pencil"></i></big></big></span></td>
								</tr>
							</tbody>
						</table>
						<br>
						<h2 class="divider-new-right"><i class="fa fa-list-ul left hide-on-small-only"></i>Opérations depuis le 01/{{ "now"|date("m/Y") }}</h2>
						<table class="striped highlight centered responsive-table">
							<thead>
								<tr>
									<th>Type</th>
									<th>Catégorie</th>
									<th>Date</th>
									<th>Montant</th>
									<th>Edition</th>
								</tr>
							</thead>
							
							<tbody id="month_operations_tbody">
							</tbody>
						</table>
						<div id="month_operations_loader" class="row center-align" style="margin-top: 10px; margin-bottom: 100px;">
							<span class="loader loader-triple-grey"></span>
							<br>
							<em>Chargement ...</em>
						</div>
						<br>
						<h2 class="divider-new-right"><i class="fa fa-hourglass-2 left hide-on-small-only"></i>Opérations en attente</h2>
						<table class="striped highlight centered responsive-table">
							<thead>
								<tr>
									<th>Type</th>
									<th>Catégorie</th>
									<th>Aura lieu le</th>
									<th>Montant</th>
									<th>Edition</th>
								</tr>
							</thead>
							
							<tbody id="future_operations_tbody">
							</tbody>
						</table>
						<div id="future_operations_loader" class="row center-align" style="margin-top: 10px; margin-bottom: 100px;">
							<span class="loader loader-triple-grey"></span>
							<br>
							<em>Chargement ...</em>
						</div>
						<br>
						<h2 class="divider-new-right"><i class="fa fa-area-chart left hide-on-small-only"></i>Synthèse</h2>
						<div style="background-color: #f0f0f0; border-radius: 5px; padding: 5px; color: black; border: 1px solid #d0d0d0"><b><big><i class="fa fa-warning"></i> Aide :</big></b> Les graphes suivants vous aiderons à visualiser plus facilement vos entrées et sorties d'argent, ainsi que l'état de votre compte tout au long du mois. Notez que les dépenses prévisionnelles sont prises en compte pour les 3 graphes, mais seules les dépenses prévisionnelles du mois en cours sont représentées sur la courbe. Les dépenses prévisionnelles qui auront lieux dans les prochains mois ne sont prises en compte que sur les deux disques.</div>
						<br>
						<div class="col s12 l6">
							<br>
							<div id="placeholder_wrapper_depenses" class="row">
								<div id="placeholder_depenses" style="height: 300px; width: 300px;"></div>
								<div class='flot-x-axis flot-x1-axis'>
									<p>Synthèse des dépenses (avec opérations en attente)<br>Dépenses totales: <b><span id="out_total"></span> €</b></p>
								</div>
							</div>
						</div>
						<div class="col s12 l6">
							<br>
							<div id="placeholder_wrapper_entrees" class="row">
								<div id="placeholder_entrees" style="height: 300px; width: 300px;"></div>
								<div class='flot-x-axis flot-x1-axis'>
									<p>Synthèse des entrées d'argent (avec opérations en attente)<br>Entrées totales: <b><span id="in_total"></span> €</b></p>
								</div>
							</div>
						</div>
						<div class="col s12">
							<br>
							<br>
							<br>
							<div id="placeholder_wrapper_account" class="row">
								<div id="placeholder_account" style="height: 300px; width: 300px;"></div>
								<div class='flot-x-axis flot-x1-axis'>
									<p>Montant du compte (€) pour le mois {{ "now"|date("m/y") }}</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			
		</div>
		
		<div id="operation" class="col s12">
		
			<div class="col l10 offset-l1 m12 s12 card" style="padding: 0px; border: 1px solid #75828E; min-height: 60%;">
				<section id="operation_header" class="kj-grey" style="border-radius: 2px;">
					<div class="row" style="margin-bottom: 0px;">
						<div class="col s12 white-text">
							<h5 class="col s12"><i class="fa fa-terminal left hide-on-small-only"></i>Opérations</h5>
						</div>
					</div>
				</section>
				<section id="operation_body" class="col s12">
					<div class="col s12 center-align" style="padding-bottom: 20px;">
						<br>
						<span><em>Que voulez-vous faire ?</em></span>
						<br>
						<a id="immediate_operation_button" class="btn waves-effect waves-light animated fadeIn cardinal-button" style="animation-delay: 0.2s; margin-bottom: 2px; margin-top: 2px;"><i class="fa fa-refresh left"></i>Opération immédiate</a>
						<br>
						<a id="differed_operation_button" class="btn waves-effect waves-light animated fadeIn cardinal-button" style="animation-delay: 0.4s; margin-bottom: 2px; margin-top: 2px;"><i class="fa fa-hourglass-2 left"></i>Opération différée</a>
						<br>
						<a id="systematic_operation_button" class="btn waves-effect waves-light animated fadeIn cardinal-button" style="animation-delay: 0.6s; margin-bottom: 2px; margin-top: 2px;"><i class="fa fa-calendar left"></i>Opération mensuelle</a>
						<br>
						<br>
						<br>
						<div style="background-color: #f0f0f0; border-radius: 5px; padding: 5px; color: black; border: 1px solid #d0d0d0"><b><big><i class="fa fa-warning"></i> Aide :</big></b> Les trois boutons vous permettent d'ajouter une nouvelle entrée à vos comptes (entrée ou sortie d'argent).<br>La seule différence entre les 3 boutons est l'effet qu'aura la nouvelle entrée sur le compte (immédiat, différé ou mensuel).</div>
					</div>
				</section>
			</div>
			
		</div>
		
		<div id="export" class="col s12">
		
			<div class="col l10 offset-l1 m12 s12 card" style="padding: 0px; border: 1px solid #75828E; min-height: 60%;">
				<section id="export_header" class="kj-grey" style="border-radius: 2px;">
					<div class="row" style="margin-bottom: 0px;">
						<div class="col s12 white-text">
							<h5 class="col s12"><i class="fa fa-upload left hide-on-small-only"></i>Exporter</h5>
						</div>
					</div>
				</section>
				<section id="export_body" class="col s12">
					<div class="col s12 center-align" style="padding-bottom: 20px;">
						<h2 class="divider-new-right"><i class="fa fa-file-pdf-o left hide-on-small-only"></i>Exporter les opérations en cours</h2>
						<p class="left-align">Vous pouvez exporter les tableaux et graphes de l'onglet "Récapitulatif" au format pdf. A la fin de chaque mois, tous les tableaux sont automatiquement sauvegardés sous ce format (voir l'historique ci-dessous).</p>
						<a data-year="{{ 'now'|date('Y') }}" data-month="{{ 'now'|date('m') }}" class="btn waves-effect waves-light animated fadeIn cardinal-button account-file" style="animation-delay: 0.2s;"><i class="fa fa-file-pdf-o left"></i>SumUp - Livret A - Comptes de 06/16.pdf</a>
						<div id="file_loader" class="row center-align" style="display: none; margin-top: 10px;">
							<span class="loader loader-triple-grey"></span>
							<br>
							<em><span id="file_loader_notif">Chargement</span> ...</em>
						</div>
						<h2 class="divider-new-right"><i class="fa fa-history left hide-on-small-only"></i>Historique de votre comtpe</h2>
						<p class="left-align">Voici le récapitulatif de vos comptes depuis votre inscription sur le site.</p>
						<div class="col s12 m10 l8 offset-m1 offset-l2">
							<table>
								<thead>
									<tr>
										<th data-field="id">Nom</th>
										<th data-field="name">Lien de téléchargement</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>SumUp - Livret A - Comptes de 05/16</td>
										<td><a class="btn waves-effect waves-light animated fadeIn cardinal-button truncate" style="animation-delay: 0.2s;"><i class="fa fa-download hide-on-med-and-up"></i><span class="hide-on-small-only"><i class="fa fa-download left"></i>Télécharger</span></a></td>
									</tr>
									<tr>
										<td>SumUp - Livret A - Comptes de 04/16</td>
										<td><a class="btn waves-effect waves-light animated fadeIn cardinal-button truncate" style="animation-delay: 0.4s;"><i class="fa fa-download hide-on-med-and-up"></i><span class="hide-on-small-only"><i class="fa fa-download left"></i>Télécharger</span></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
					</div>
				</section>
			</div>
			
		</div>
		
	</div>
</div>

<!-- Modal Immediate operation -->
<div id="immediate_operation_modal" class="modal modal-fixed-footer">
	<div class="modal-content" style="overflow: hidden;">
		<section id="immediate_operation_top">
			<div class="col s12" style="border-bottom: 1px solid #ddd; padding: 0px;">
				<h5 style="margin-top: 0;"><i class="fa fa-refresh left"></i>Ajouter une opération immédiate</h5>
			</div>
		</section>
		<section id="immediate_operation_content" style="height: 100%; margin-bottom: 0px; overflow-x: hidden; overflow-y: auto;padding-top: 10px; padding-bottom: 20px;">
			<div class="row" style="margin-bottom: 0px;">
				Une opération immédiate est une opération qui aura un effet immédiat sur l'état de votre compte: la somme d'argent est ajoutée / retirée dès la validation de la transaction, votre compte est directement mis à jour. En cas d'erreur, vous pourrez modifier l'opération dans l'onglet récapitulatif.
			<br><br>
			<form class="col s12" id="immediate_form" data-effective="immediate">
				<div class="row">
					<div class="col s12 m10 offset-m1">
						<label>Type d'opération</label>
						<select class="browser-default" id="immediate_paiment_kind" name="paiment_kind">
							<option value="" disabled selected>Choisissez le moyen de paiement</option>
							<option value="Carte banquaire">Carte banquaire</option>
							<option value="Chèque">Chèque</option>
							<option value="Virement">Virement</option>
							<option value="Autre">Autre</option>
						</select>
					</div>
					<div class="col s12 m10 offset-m1">
						<label>Catégorie</label>
						<select class="browser-default" id="immediate_category" name="category">
							<option value="" disabled selected>Choisissez la catégorie de l'opération</option>
							{% for category in app.user.getCategories() %}
								<option value="{{ category.name }}">{{ category.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">euro_symbol</i>
						<input placeholder="0" id="immediate_amount" type="number" class="validate" name="amount" step="0.01">
						<label for="immediate_amount">Montant de l'opération</label>
					</div>
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">date_range</i>
						<input placeholder="cliquer pour choisir" id="immediate_date" class="datepicker validate" type="number">
						<label for="immediate_date">Date de l'opération</label>
					</div>
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">mode_edit</i>
						<input placeholder="Détails de l'opération (facultatif)" id="immediate_description" type="text" class="validate" name="description">
						<label for="immediate_description">Description</label>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div id="immediate_operation_modal_footer" class="modal-footer">
		<button id="add_immediate_operation" type="submit" class="btn modal-action waves-effect waves-light green animated add-button" style="margin-right: 20px;"><i class="fa fa-check left"></i>Ajouter</button>
		<a id="return_from_immediate_operation" href="#" class="btn waves-effect waves-light left modal-close cardinal-button" style="margin-left: 20px;"><i class="fa fa-angle-left left"></i>Retour</a>
	</div>
	</form>
</div>
<!-- /.Modal Immediate operation -->

<!-- Modal Differed operation -->
<div id="differed_operation_modal" class="modal modal-fixed-footer">
	<div class="modal-content" style="overflow: hidden;">
		<section id="differed_operation_top">
			<div class="col s12" style="border-bottom: 1px solid #ddd; padding: 0px;">
				<h5 style="margin-top: 0;"><i class="fa fa-hourglass-2 left"></i>Ajouter une opération différée</h5>
			</div>
		</section>
		<section id="differed_operation_content" style="height: 100%; margin-bottom: 0px; overflow-x: hidden; overflow-y: auto; padding-top: 10px; padding-bottom: 20px;">
			<div class="row" style="margin-bottom: 0px;">
				Une opération différée est une opération dont l'effet sur le compte n'aura lieu qu'à la date demandée. Avant cette date, l'opération sera rangée dans les opérations en attente.
			<br><br>
			<form class="col s12" id="differed_form" data-effective="differed">
				<div class="row">
					<div class="col s12 m10 offset-m1">
						<label>Type d'opération</label>
						<select class="browser-default" id="differed_paiment_kind" name="paiment_kind">
							<option value="" disabled selected>Choisissez le moyen de paiement</option>
							<option value="Carte banquaire">Carte banquaire</option>
							<option value="Chèque">Chèque</option>
							<option value="Virement">Virement</option>
							<option value="Autre">Autre</option>
						</select>
					</div>
					<div class="col s12 m10 offset-m1">
						<label>Catégorie</label>
						<select class="browser-default" id="differed_category" name="category">
							<option value="" disabled selected>Choisissez la catégorie de l'opération</option>
							{% for category in app.user.getCategories() %}
								<option value="{{ category.name }}">{{ category.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">euro_symbol</i>
						<input placeholder="0" id="differed_amount" type="number" class="validate" name="amount" step="0.01">
						<label for="differed_amount">Montant de l'opération</label>
					</div>
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">date_range</i>
						<input placeholder="cliquer pour choisir" id="differed_date" class="datepicker validate" type="number">
						<label for="differed_date">Date de l'opération</label>
					</div>
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">mode_edit</i>
						<input placeholder="Détails de l'opération (facultatif)" id="differed_description" type="text" class="validate" name="description">
						<label for="differed_description">Description</label>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div id="differed_operation_modal_footer" class="modal-footer">
		<button id="add_differed_operation" type="submit" class="btn modal-action waves-effect waves-light green animated add-button" style="margin-right: 20px;"><i class="fa fa-check left"></i>Ajouter</button>
		<a id="return_from_differed_operation" href="#" class="btn waves-effect waves-light left modal-close cardinal-button" style="margin-left: 20px;"><i class="fa fa-angle-left left"></i>Retour</a>
	</div>
	</form>
</div>
<!-- /.Modal Differed operation -->

<!-- Modal Systematic operation -->
<div id="systematic_operation_modal" class="modal modal-fixed-footer">
	<div class="modal-content" style="overflow: hidden;">
		<section id="systematic_operation_top">
			<div class="col s12" style="border-bottom: 1px solid #ddd; padding: 0px;">
				<h5 style="margin-top: 0;"><i class="fa fa-calendar left"></i>Ajouter une opération mensuelle</h5>
			</div>
		</section>
		<section id="systematic_operation_content" style="height: 100%; margin-bottom: 0px; overflow-x: hidden; overflow-y: auto; padding-top: 10px; padding-bottom: 20px;">
			<div class="row" style="margin-bottom: 0px;">
				Une opération mensuel vous permet d'automatiser la sortie ou l'entrée de montants fixes sur votre compte (ex: loyer, ... ). L'opération sera effectuée tous les mois à partir de la date donnée.
			<br><br>
			<form class="col s12" id="systematic_form" data-effective="systematic">
				<div class="row">
					<div class="col s12 m10 offset-m1">
						<label>Type d'opération</label>
						<select class="browser-default" id="systematic_paiment_kind" name="paiment_kind">
							<option value="" disabled selected>Choisissez le moyen de paiement</option>
							<option value="Carte banquaire">Carte banquaire</option>
							<option value="Chèque">Chèque</option>
							<option value="Virement">Virement</option>
							<option value="Autre">Autre</option>
						</select>
					</div>
					<div class="col s12 m10 offset-m1">
						<label>Catégorie</label>
						<select class="browser-default" id="systematic_category" name="category">
							<option value="" disabled selected>Choisissez la catégorie de l'opération</option>
							{% for category in app.user.getCategories() %}
								<option value="{{ category.name }}">{{ category.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">euro_symbol</i>
						<input placeholder="0" id="systematic_amount" type="number" class="validate" name="amount" step="0.01">
						<label for="systematic_amount">Montant de l'opération</label>
					</div>
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">date_range</i>
						<input placeholder="cliquer pour choisir" id="systematic_date" class="datepicker validate" type="number">
						<label for="systematic_date">Date de l'opération</label>
					</div>
					<div class="input-field col s12 m10 offset-m1">
						<i class="material-icons prefix">mode_edit</i>
						<input placeholder="Détails de l'opération (facultatif)" id="systematic_description" type="text" class="validate" name="description">
						<label for="systematic_description">Description</label>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div id="systematic_operation_modal_footer" class="modal-footer">
		<button id="add_systematic_operation" type="submit" class="btn modal-action waves-effect waves-light green animated add-button" style="margin-right: 20px;"><i class="fa fa-check left"></i>Ajouter</button>
		<a id="return_from_systematic_operation" href="#" class="btn waves-effect waves-light left modal-close cardinal-button" style="margin-left: 20px;"><i class="fa fa-angle-left left"></i>Retour</a>
	</div>
	</form>
</div>
<!-- /.Modal Systematic operation -->

<!-- Modal Details category -->
<div id="category_details_modal" class="modal modal-fixed-footer">
	<div class="modal-content" style="overflow: hidden;">
		<section id="category_details_top">
			<div class="col s12" style="border-bottom: 1px solid #ddd; padding: 0px;">
				<h5 style="margin-top: 0;"><i class="fa fa-calendar left"></i>Détails <span id="category_field"></span></h5>
			</div>
		</section>
		<section id="category_details_content" style="height: 100%; margin-bottom: 0px; overflow-x: hidden; overflow-y: auto; padding-top: 10px; padding-bottom: 20px;">
			<div class="row" style="margin-bottom: 0px;">
				<table class="striped highlight centered responsive-table">
					<thead>
						<tr>
							<th>Type</th>
							<th>Description</th>
							<th>Date</th>
							<th>Montant</th>
						</tr>
					</thead>
					
					<tbody id="category_operations_tbody">
					</tbody>
				</table>
			</div>
		</section>
	</div>
	<div id="category_details_modal_footer" class="modal-footer">
		<a class="btn waves-effect waves-light left modal-close cardinal-button" style="margin-left: 20px;"><i class="fa fa-angle-left left"></i>Retour</a>
	</div>
	</form>
</div>
<!-- /.Modal Details category -->

<!-- Modal Confirmation -->
<div id="suppression_modal" class="modal modal-fixed-footer" style="height: 250px; width: 400px;">
	<div class="modal-content" style="overflow-x: hidden;">
		<section id="suppression_modal_top">
			<div class="col s12" style="border-bottom: 1px solid #ddd; padding: 0px;">
				<h5 style="margin-top: 0;"><i class="fa fa-times"></i> Suppression</h5>
			</div>
		</section>
		<section id="suppression_modal_content" class="row center-align animated" style="margin-bottom: 0px; overflow-x: hidden; margin-top: 20px;">Êtes-vous sûr(e) ?</section>
		
	</div>
	<div id="suppression_modal_footer" class="modal-footer">
		<a id="suppression_modal_cancel" href="#" class="btn modal-action modal-close waves-effect waves-light grey" style="margin-right: 20px;"><i class="fa fa-times left"></i>Annuler</a>
		<a id="suppression_modal_confirm" href="#" class="btn modal-action modal-close waves-effect waves-light green" style="margin-right: 20px;"><i class="fa fa-check left"></i>OK</a>
	</div>
</div>
<!-- /.Modal Confirmation -->

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="{{ asset('js/jquery.flot.js') }}"></script>
	<script src="{{ asset('js/jquery.flot.pie.js') }}"></script>
	<script>
	dataOut = [];
	dataIn = [];
	accountLevelGraph = [];
	rawData = [];
	
	function prepare_data() {
		dataOut = [];
		dataIn = [];
		accountLevelGraph = [];
		$.get(
			"{{ path('su_account_graph_data') }}",
			function(rep) {
				rawData = rep;
				$('#in_total').html(rep.totalIn);
				$('#out_total').html(rep.totalOut);
				for (var key in rep.accountLevelGraph) {
					accountLevelGraph.push([parseInt(key),rep.accountLevelGraph[key]]);
				}
				for (var category in rep.dataOut) {
					dataOut[category] = {
						label: rep.dataOut[category].name,
						data: rep.dataOut[category].percent
					};
					dataIn[category] = {
						label: rep.dataIn[category].name,
						data: rep.dataIn[category].percent
					}
				}
				plot_graph();
			}
		);
	}
	
	function labelFormatter(label, series) {
		return "<div class='category-click link-hover' data-cat='" + label + "'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
	}
	
	function prepare_legend() {
		$('.category-click').off('click');
		$('.category-click').click(function() {
			var category = $(this).attr("data-cat");
			if ($(window).width() >= 992) {
				if ($(this).parent().parent().parent().attr('id') == "placeholder_wrapper_depenses") {
					for (var key in rawData.dataOut) {
						if (rawData.dataOut[key].name == category) {
							var html_data = rawData.dataOut[key].html;
							var percent = rawData.dataOut[key].percent;
							$('#category_details_modal').openModal({
								dismissible: true,
								opacity: 0.5,
								in_duration: 250,
								out_duration: 250,
								ready: function() {
									$('#category_field').html(category);
									$('#category_operations_tbody').html(html_data);
									$('#category_operations_tbody').append('<tr><td></td><td><b>Part de la catégorie</b></td><td></td><td><b>' + Math.floor(percent*100) + '%</b></td><td></td></tr>');
								},
								complete: clean_overlay
							});
						}
					}
				} else {
					for (var key in rawData.dataIn) {
						if (rawData.dataIn[key].name == category) {
							var html_data = rawData.dataIn[key].html;
							var percent = rawData.dataIn[key].percent;
							$('#category_details_modal').openModal({
								dismissible: true,
								opacity: 0.5,
								in_duration: 250,
								out_duration: 250,
								ready: function() {
									$('#category_field').html(category);
									$('#category_operations_tbody').html(html_data);
									$('#category_operations_tbody').append('<tr><td></td><td><b>Part de la catégorie</b></td><td></td><td><b>' + Math.floor(percent*100) + '%</b></td><td></td></tr>');
								},
								complete: clean_overlay
							});
						}
					}
				}
			} else {
				
				{% if 0 == 1 %}
				$.post(
					'{{ path("su_account_category_details") }}',
					{
						categoryDetails: category
					},
					function(rep) {
						if (rep.notif = "category_details_changed") {
							$(location).attr('href', '{{ path("su_account_category_details") }}');
						} else {
							Materialize.toast("Oops ... une erreur est survenue ...", 4000);
							console.log(rep.message);
						}
					}
				);
				{% endif %}
			}
		});
	}
	
	function plot_graph() {
		var available_width = $('#placeholder_wrapper_depenses').width();
		$('#placeholder_depenses').width(available_width);
		$.plot('#placeholder_depenses', dataOut, {
			series: {
				pie: {
					show: true,
					radius: 1,
					innerRadius: 0.5,
					label: {
						show: true,
						radius: 3/4,
						formatter: labelFormatter,
						background: {
							opacity: 0.5,
							color: '#FFF'
						}
					}
				}
			},
			legend: {
				show: false
			}
		});
		
		var available_width = $('#placeholder_wrapper_entrees').width();
		$('#placeholder_entrees').width(available_width);
		$.plot('#placeholder_entrees', dataIn, {
			series: {
				pie: {
					show: true,
					radius: 1,
					innerRadius: 0.5,
					label: {
						show: true,
						radius: 3/4,
						formatter: labelFormatter,
						background: {
							opacity: 0.5,
							color: '#FFF'
						}
					}
				}
			},
			legend: {
				show: false
			}
		});

		var available_width = $('#placeholder_wrapper_account').width();
		$.plot("#placeholder_account", [], {} );
		$('#placeholder_account').width(available_width);
		plot = $.plot("#placeholder_account", [
			{ data: accountLevelGraph, label: "Montant du compte"}
		], {
			series: {
				lines: {
					show: true
				},
				points: {
					show: true
				}
			},
			grid: {
				hoverable: true,
				clickable: true
			},
			xaxis: {
				label: "Ta maman",
				tickSize: 1,
				tickDecimals: 0,
				min: 1
			},
			legend: {
				show: false
			}
		});
		
		$("<div id='tooltip'></div>").css({
			position: "absolute",
			display: "none",
			border: "1px solid #fdd",
			padding: "2px",
			"background-color": "#fee",
			opacity: 0.80
		}).appendTo("body");
		
		$("#placeholder_account").bind("plothover", function (event, pos, item) {
			if (item) {
				var x = item.datapoint[0].toFixed(2),
					y = item.datapoint[1].toFixed(2);

				$("#tooltip").html(y + " €")
					.css({top: item.pageY+5, left: item.pageX+5})
					.fadeIn(200);
			} else {
				$("#tooltip").hide();
			}
		});
		
		prepare_legend();
	}
	
	function set_ac_lignes() {
		$('.tooltipped').tooltip({delay: 50});
		$('.ligne_ac_amount').off('dblclick');
		$('.ligne_ac_amount').dblclick(function(){
			set_first_amount_ligne();
		});
		
		$('.first-ac-amount-pencil').off('click');
		$('.first-ac-amount-pencil').click(function() {
			set_first_amount_ligne();
		});
	}
	
	function set_lignes() {
		$('.tooltipped').tooltip({delay: 50});
		$('.ligne').off('mouseenter mouseover mouseleave');
		$('.ligne').on({
			mouseenter: function() {
				$(this).children().last().children().addClass('edition-active');
			},
			mouseover: function() {
				$(this).children().last().children().addClass('edition-active');
			},
			mouseleave: function() {
				$(this).children().last().children().removeClass('edition-active');
			}
		});
		
		$('.fa-pencil-ligne').off('click');
		$('.fa-pencil-ligne').click(function() {
			set_lignes_aux($(this).parent().parent().parent().parent().parent());
		});
		
		$('.ligne').off('dblclick');
		$('.ligne').dblclick(function() {
			set_lignes_aux($(this));
		});
		
		$('.suppression-icon').off('click');
		$('.suppression-icon').click(function() {
			$('#suppression_modal').openModal({
				dismissible: true,
				opacity: 0.5,
				in_duration: 250,
				out_duration: 250,
				complete: clean_overlay
			});
			
			ligne = $(this).parent().parent().parent().parent().parent();
			
			$('#suppression_modal_confirm').off('click');
			$('#suppression_modal_confirm').click(function() {
				var operationId = ligne.attr('data-id');
				$.post(
					"{{ path('su_account_delete_operation') }}",
					{
						operationId: operationId
					},
					function(rep) {
						if (rep.notif == "operation_deleted") {
							Materialize.toast('Opération supprimée. Mise à jour ...', 4000);
							if (ligne.parent().attr('id') == "month_operations_tbody") {
								month_operation_update();
							} else {
								future_opertation_update();
							}
						} else {
							Materialize.toast('Oops ... une erreur est survenue ...', 4000);
							console.log(rep.message);
						}
					}
				);
				$('#suppression_modal_cancel').trigger('click');
			})
		});
	}
	
	function set_lignes_aux(ligne) {
		
		var operationId = ligne.attr('data-id');
		
		if ($('.green-edition-text').size() >= 1) {
			$('.green-edition-text').parent().find('.delete-hover').trigger('click');
		}
		
		var type_option = '<select class="browser-default"><option value="" disabled selected>Type de paiement</option><option value="Carte banquaire">Carte banquaire</option><option value="Chèque">Chèque</option><option value="Virement">Virement</option><option value="Autre">Autre</option></select>';
		var category_option = '<select class="browser-default"><option value="" disabled selected>Catégorie</option>{% for category in app.user.getCategories() %}<option value="{{ category.name }}">{{ category.name }}</option>{% endfor %}</select>';
		var date_option = '<input type="date" class="datepicker center-align">';
		var montant_option = '<input type="number" class="center-align" step="0.01">';
		var edition_option = '<span class="edition"><big><big><i class="fa fa-check link-hover green-edition-text modification-validation"></i><i class="fa fa-times link-hover delete-hover" style="margin-left: 15px;"></i></big></big></span>';
		
		var type = ligne.find('.type_option').html();
		var category = ligne.find('.category_option').children().first().html();
		var category_sav = ligne.find('.category_option').html();
		var datepicker_val = ligne.find('.date_option').html();
		var montant = parseFloat(ligne.find('.montant_option').children().first().html().replace(' ', '').replace(',', '.'));
		var montant_sav = ligne.find('.montant_option').html();
		var edition_sav = ligne.find('.edition_option').html();
		
		ligne.find('.type_option').html(type_option);
		ligne.find('.type_option select').val(type);
		
		ligne.find('.category_option').html(category_option);
		ligne.find('.category_option select').val(category);
		
		ligne.find('.date_option').html(date_option);
		
		ligne.find('.montant_option').html(montant_option);
		ligne.find('.montant_option input').val(montant);
		
		ligne.find('.edition_option').html(edition_option);
		
		
		var input = $('.datepicker').pickadate({
			labelMonthNext: 'Mois suivant',
			labelMonthPrev: 'Mois précédent',
			labelMonthSelect: 'Choisissez un mois',
			labelYearSelect: 'Choisissez une année',
			monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre' ],
			monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
			weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
			weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
			weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
			today: 'Ajd',
			clear: 'Effacer',
			close: 'Fermer'
		});
		picker = input.pickadate('picker');
		
		picker.set('select', new Date( datepicker_val.replace( /(\d{2})\/(\d{2})\/(\d{2})/, "$2/$1/$3") ));
		
		ligne.addClass('edited-ligne');
		
		ligne.find('.delete-hover').off('click');
		ligne.find('.delete-hover').click(function() {
			ligne.find('.type_option').html(type);
			ligne.find('.category_option').html(category_sav);
			ligne.find('.date_option').html(datepicker_val);
			ligne.find('.montant_option').html(montant_sav);
			ligne.find('.edition_option').html(edition_sav);
			
			$('.tooltipped').tooltip({delay: 50});
			
			ligne.removeClass('edited-ligne');
			
			set_lignes();
		});
		
		ligne.find('.modification-validation').off('click');
		ligne.find('.modification-validation').click(function() {
			var newType = ligne.find('.type_option select').val();
			var newCategory = ligne.find('.category_option select').val();
			var newDate = picker.get('select').year + "-" + (parseInt(picker.get('select').month)+1).toString() + "-" + picker.get('select').date + " 00:00:00";
			var newAmount = ligne.find('.montant_option input').val();
			
			if ((newType != "") && (newCategory != "") && (newDate != " 00:00:00") && (newAmount != 0)) {
				$.post(
					"{{ path('su_account_operation_update') }}",
					{
						operationId: operationId,
						newType: newType,
						newCategory: newCategory,
						newDate: newDate,
						newAmount: newAmount
					},
					function(rep) {
						if (rep.notif == "operation_updated") {
							if (ligne.parent().attr('id') == "month_operations_tbody") {
								month_operation_update();
							} else {
								future_opertation_update();
							}
							Materialize.toast('Opération modifiée. Mise à jour du tableau ...', 4000);
						} else {
							Materialize.toast("Oops ... une erreur est survenue ...", 4000);
							ligne.find('.delete-hover').trigger('click');
							console.log(rep.message);
						}
					}
				);
			} else {
				Materialize.toast("Champs incorrects", 4000);
			}
		});
	}
	
	function set_first_amount_ligne() {
		var ligne = $('.ligne_ac_amount');
		if ($('.green-edition-text').size() >= 1) {
			$('.green-edition-text').parent().find('.delete-hover').trigger('click');
		}
		var montant_option = '<input type="number" class="center-align" step="0.01">';
		var montant_sav = ligne.find('.montant_option').html();
		var montant = parseFloat(ligne.find('.montant_option').children().children().html().replace(' ', '').replace(',', '.'));
		var edition_sav = ligne.find('.edition_option').html();
		var edition_option = '<span class="edition"><big><big><i class="fa fa-check link-hover green-edition-text modification-validation"></i><i class="fa fa-times link-hover delete-hover" style="margin-left: 15px;"></i></big></big></span>';
		ligne.find('.montant_option').html(montant_option);
		ligne.find('.montant_option input').val(montant);
		ligne.addClass('edited-ligne');
		ligne.find('.edition_option').html(edition_option);
		
		ligne.find('.delete-hover').click(function() {
			ligne.find('.montant_option').html(montant_sav);
			ligne.find('.edition_option').html(edition_sav);
			
			$('.tooltipped').tooltip({delay: 50});
			
			ligne.removeClass('edited-ligne');
			
			set_lignes();
		});
		
		ligne.find('.modification-validation').click(function() {
			var firstAmount = ligne.find('.montant_option input').val();
			if (firstAmount != "") {
				$.post(
					"{{ path('su_account_update_first_amount') }}",
					{
						firstAmount: firstAmount
					},
					function(rep) {
						if (rep.notif == "first_amount_updated") {
							ligne.find('.delete-hover').trigger('click');
							ligne.find('.montant_option').children().children().html(firstAmount);
							Materialize.toast('Montant modifié. Mise à jour ...', 4000);
							month_operation_update();
						} else {
							Materialize.toast("Oops ... une erreur est survenue ...", 4000);
							console.log(rep.message);
						}
					}
				);
			}
		});
	}
	
	function month_operation_update() {
		$('#month_operations_tbody').html("");
		$('#month_operations_loader').show();
		$.get(
			"{{ path('su_account_month_operations') }}",
			function(rep) {
				$('#month_operations_loader').hide();
				$('#month_operations_tbody').html(rep);
				future_opertation_update();
			}
		);
	}
	
	function future_opertation_update() {
		$('#future_operations_tbody').html("");
		$('#future_operations_loader').show();
		$.get(
			"{{ path('su_account_future_operations') }}",
			function(rep) {
				$('#future_operations_loader').hide();
				$('#future_operations_tbody').html(rep);
				set_lignes();
				prepare_data();
			}
		);
	}
	
	function calendrier(modal) {
		input = modal.find('.datepicker').pickadate({
			labelMonthNext: 'Mois suivant',
			labelMonthPrev: 'Mois précédent',
			labelMonthSelect: 'Choisissez un mois',
			labelYearSelect: 'Choisissez une année',
			monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre' ],
			monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
			weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
			weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
			weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
			today: 'Ajd',
			clear: 'Effacer',
			close: 'Fermer'
		});
		picker = input.pickadate('picker');
		picker.off('close');
		picker.on('close', function() {
			$('.datepicker').removeClass("invalid").addClass("valid");
		});
	}
	
	function prepare_operation_modals() {
		$('#immediate_form, #differed_form, #systematic_form').find('input').off("keyup focusout change");
		$('#immediate_form, #differed_form, #systematic_form').find('input').bind("keyup focusout change", function() {
			var valeur = $(this).val();
			if ((valeur != "") && (valeur.length >= 0)) {
				becomesValid($(this));
			} else {
				becomesInvalid($(this));
			}
		});
		
		$('#immediate_form, #differed_form, #systematic_form').off('submit');
		$('#immediate_form, #differed_form, #systematic_form').submit(function(e) {
			e.preventDefault();
			var effective = $(this).attr('data-effective');
			var paimentKind = $(this).find('.browser-default').first().val();
			var category = $(this).find('.browser-default').last().val();
			var amount = $(this).find('input').first().val();
			var date = picker.get('select').year + "-" + (parseInt(picker.get('select').month)+1).toString() + "-" + picker.get('select').date + " 00:00:00";
			var description = $(this).find('input').last().val();
			
			if ((paimentKind != null) && (category != null) && (amount != "") && (date != "") && (!$('.add-button').hasClass("disabled"))) {
				$(".add-button").addClass("disabled");
				$.post(
					'{{ path("su_account_send_operation") }}',
					{
						effective: effective,
						paimentKind: paimentKind,
						category: category,
						amount: amount,
						date: date,
						description: description
					},
					function(rep) {
						if (rep.notif == "operation_added") {
							Materialize.toast("Opération ajoutée.", 4000);
							$('.modal-close').trigger('click');
							$(".add-button").removeClass("disabled");
						} else {
							Materialize.toast("Oops ... une erreur est survenue ...", 4000);
							console.log(rep.message);
						}
					}
				);
			} else {
				Materialize.toast("Formulaire incorrect.", 4000);
			}
		});
	}
	
	$(document).ready(function () {
		//Gestion lancement téléchargement & génération pdf --------------------------------
		$('.account-file').click(function(){
			$('#file_loader_notif').html("Chargement");
			if (!$(this).hasClass('disabled')) {
				$(this).addClass('disabled');
				var year = $(this).attr('data-year');
				var month = $(this).attr('data-month');
				var url = "{{ path('su_account_homepage') }}/pdf/" + year + "/" + month;
				$('#file_loader').slideDown();
				
				$.get(
					url,
					{
						status: "request"
					},
					function(rep) {
						switch(rep.notif) {
							case "request_generation_process":
								$('#file_loader_notif').html("Créaction du fichier");
								$.get(
									url,
									{
										status: "generate"
									},
									function (rep) {
										switch(rep.notif) {
											case "ready":
												$('#file_loader_notif').html("Lancement du téléchargement");
												setTimeout(function() {
													$('#file_loader').slideUp();
													$('.account-file').removeClass('disabled');
												}, 1000);
												$(location).attr('href', url);
												break;
											default:
												Materialize.toast("Oops ... une erreur est survenue ...", 4000);
												$('.account-file').removeClass('disabled');
												console.log(rep.notif);
										}
									}
								);
								break;
							case "ready":
								$('#file_loader_notif').html("Lancement du téléchargement");
								setTimeout(function() {
									$('#file_loader').slideUp();
									$('.account-file').removeClass('disabled');
								}, 1000);
								$(location).attr('href', url);
								break;
							case "unknown_request":
								Materialize.toast("Oops ... une erreur est survenue ...", 4000);
								$(this).removeClass('disabled');
								console.log(rep);
								console.log('coucou');
								break;
							default:
								Materialize.toast("Oops ... une erreur est survenue ...", 4000);
								$(this).removeClass('disabled');
								console.log(rep.notif);
								console.log(rep);
								console.log('coucou2');
						}
					}
				);
			}
		});
		//----------------------------------------------------------------------------------
		
		//Boutons ajout opération ----------------------------------------------------------
		$('#immediate_operation_button').click(function() {
			if ($(window).width() >= 992) {
				$('#immediate_operation_modal').openModal({
					dismissible: true,
					opacity: 0.5,
					in_duration: 250,
					out_duration: 250,
					ready: function() {
						prepare_operation_modals();
						calendrier($('#immediate_operation_modal'));
					},
					complete: clean_overlay
				});
			} else {
				$(location).attr('href',"{{ path('su_account_mobile_immediate') }}");
			}
		});
		
		$('#differed_operation_button').click(function() {
			if ($(window).width() >= 992) {
				$('#differed_operation_modal').openModal({
					dismissible: true,
					opacity: 0.5,
					in_duration: 250,
					out_duration: 250,
					ready: function() {
						prepare_operation_modals();
						calendrier($('#differed_operation_modal'));
					},
					complete: clean_overlay
				});
			} else {
				$(location).attr('href',"{{ path('su_account_mobile_differed') }}");
			}
		});
		
		$('#systematic_operation_button').click(function() {
			if ($(window).width() >= 992) {
				$('#systematic_operation_modal').openModal({
					dismissible: true,
					opacity: 0.5,
					in_duration: 250,
					out_duration: 250,
					ready: function() {
						prepare_operation_modals();
						calendrier($('#systematic_operation_modal'));
					},
					complete: clean_overlay
				});
			} else {
				$(location).attr('href',"{{ path('su_account_mobile_systematic') }}");
			}
		});
		//----------------------------------------------------------------------------------
		
		$('#ac_edition_col').hide();
		
		$('#recap_tab_button').click(function () {
			setTimeout(function () {
				
				$(window).resize(function () {
					plot_graph();
				});
				
				$('.ligne_ac_amount').on({
					mouseenter: function() {
						$(this).find('.edition_option').show();
						set_ac_lignes();
						$(this).children().last().children().addClass('edition-active');
					},
					mouseover: function() {
						$(this).children().last().children().addClass('edition-active');
					},
					mouseleave: function() {
						$(this).find('.edition_option').hide();
						$(this).children().last().children().removeClass('edition-active');
					}
				});
				
				month_operation_update();
				
			}, 500);
		});
		
		set_lignes();
		set_ac_lignes();
	});
	</script>
{% endblock %}