{% extends 'SUMainBundle::layout.html.twig' %}

{% set menu_selected = '' %}

{% block body %}

<div style="background-color: white; padding:20px; margin-top: 21px;">
	<div class="modal-content" style="overflow: hidden;">
		<section id="new_account_top">
			<div class="col s12" style="border-bottom: 1px solid #ddd; padding: 0px;">
				<h5 style="margin-top: 0;"><i class="fa fa-book left"></i>Ajouter un compte</h5>
			</div>
		</section>
		<section id="new_account_content" style="height: 100%; margin-bottom: 0px; overflow-x: hidden; overflow-y: auto;padding-top: 10px; padding-bottom: 20px;">
			<div class="row" style="margin-bottom: 0px;">
				Pour commencer remplisser les informations nécessaires à la création d'un nouveau compte bancaire. Votre compte utilisateur peut être lié à autant de comptes bancaires que vous le souhaitez.
				<br>
				<b><big><i class="fa fa-warning"></i> Attention:</big></b> le montant de départ donné doit être celui du niveau de votre compte avant la première opération que vous allez enregistrer sur le site. C'est à partir de ce premier montant que tout sera calculé.
				<br><br>
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12 m10 l6 offset-m1 offset-l3">
							<i class="material-icons prefix">mode_edit</i>
							<input placeholder="Livret A" id="name" class="description_field validate" type="text" name="name">
							<label for="name">Nom du compte</label>
						</div>
						<div class="input-field col s12 m10 l6 offset-m1 offset-l3">
							<i class="material-icons prefix">euro_symbol</i>
							<input placeholder="0" id="first_amount" type="number" class="validate montant_field" name="first_amount">
							<label for="first_amount">Montant de départ du compte</label>
						</div>
					<div class="row">
						<div class="col s12 m10 l6 offset-m1 offset-l3">
							<label>Type de compte</label>
							<select class="browser-default" name="ac_priority" id="ac_priority">
								<option value="" disabled selected>Type de compte</option>
								<option value="Principal">Principal (compte par défaut)</option>
								<option value="Secondaire">Secondaire</option>
							</select>
						</div>
					</div>
					
					</div>
				</form>
			</div>
			
			<a id="ok" class="btn modal-action waves-effect waves-light green animated right" style="margin-right: 20px;"><i class="fa fa-check left"></i>OK</a>
			<a id="return" href="{{ path('su_user_param') }}" class="btn waves-effect waves-light left modal-close cardinal-button left" style="margin-left: 20px;"><i class="fa fa-angle-left left"></i>Retour</a>
		
		</section>
	</div>
</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	
	<script>
	$(document).ready(function() {
		$('#name').keyup(function () {
			var valeur = $(this).val();
			if ((valeur != "") && (valeur.length >= 3)) {
				becomesValid($(this));
			} else {
				becomesInvalid($(this));
			}
		});
		
		$('#first_amount').keyup(function() {
			var valeur = parseInt($(this).val());
			if (valeur >= 0) {
				becomesValid($(this));
			} else {
				becomesInvalid($(this));
			}
		});
		
		$('#ok').click(function() {
			var name = $('#name').val();
			var first_amount = parseInt($('#first_amount').val());
			var ac_priority = $('#ac_priority').val();
			
			if ((name != "") && (name.length >= 3) && (first_amount >= 0) && (ac_priority != null)) {
				$.post(
					"{{ path('su_account_send_new_account') }}",
					{
						name: name,
						first_amount: first_amount,
						ac_priority: ac_priority
					},
					function(rep) {
						if (rep.notif == "account_added") {
							$(location).attr('href', '{{ path("su_user_param") }}');
						} else {
							if (rep.message == "name_already_exists") {
								becomesInvalid($('#name'));
								Materialize.toast("Vous possédez déjà un compte de ce nom", 4000);
							} else {
								Materialize.toast("Oops ... une erreur est survenue ...", 4000);
								console.log(rep.message);
							}
						}
					}
				);
				$('#new_account_form').submit();
			} else {
				Materialize.toast('Formulaire non valide', 4000);
			}
		});
		
		$('#return').click(function() {
			$(location).attr('href', "{{ path('su_account_homepage') }}" );
		});
	});
	</script>
{% endblock %}