<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>SumUp</title>
	<meta name="theme-color" content="#711d2a">
	<link rel="icon" href="{{ asset('img/design/logo-icon-min.png') }}">

	<!-- CSS  -->
	{% block stylesheet %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	
	<link href="{{ asset('css/materialize.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/animate.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/loader.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
	{% endblock %}
</head>
<body>

	<div class="container animated fadeIn">
	
		<div class="row" style="margin-bottom: 0px;">
		
			<div id="picture" class="col s6 m2 l2 offset-s3 offset-m5 offset-l5" style="z-index: 999; position: relative;">
				<img src="{{ asset('img/design/logo-m-min.png') }}" class="responsive-img"></img>
			</div>
			
			<div id="main" class="card col s12 m8 l6 offset-m2 offset-l3" style="border: 1px solid #711d2a; z-index: 9; padding-bottom: 10px;">
				<form id="register_form">
					<h4 id="title_connexion_form" class="center-align col s10 offset-s1 animated divider-new" style="height: 3rem; animation-delay: 0s;">Nouvel utilisateur</h4>
					<div class="input-field col s12 l6 offset-l3">
						<input placeholder="Thomas" id="first_name" type="text" class="">
						<label for="first_name">Prénom</label>
					</div>
					<div class="input-field col s12 l6 offset-l3">
						<input placeholder="Dupont" id="last_name" type="text" class="">
						<label for="last_name">Nom</label>
					</div>
					<div class="input-field col s12 l6 offset-l3">
						<input placeholder="****" id="pass1" type="password" class="">
						<label for="pass1">Mot de passe</label>
					</div>
					<div class="input-field col s12 l6 offset-l3">
						<input placeholder="****" id="pass2" type="password" class="">
						<label for="pass2">Mot de passe (confirmation)</label>
					</div>
					<div class="input-field col s12 l6 offset-l3">
						<input placeholder="thomas@dupont.fr" id="mail1" type="email" class="">
						<label for="mail1">Adresse mail:</label>
					</div>
					<div class="input-field col s12 l6 offset-l3">
						<input placeholder="thomas@dupont.fr" id="mail2" type="email" class="">
						<label for="mail2">Adresse mail (confirmation):</label>
					</div>
					<br>
					<div class="col s12 center-align">
						<a href="{{ path('su_user_login') }}" class="btn waves-effect waves-light cardinal-button"><i class="fa fa-angle-left left"></i>Retour</a>
						<button id="send_form" type="submit" class="btn waves-effect waves-light link-hover"><i class="fa fa-send left"></i>Ok</button>
					</div>
				</form>
			</div>

		</div>
	
	</div>

	{% block javascript %}
	<!--  Scripts-->
	<script src="{{ asset('js/jquery-2.2.2.js') }}"></script>
	<script src="{{ asset('js/materialize.js') }}"></script>
	<script src="{{ asset('js/scroll-to.js') }}"></script>
	<script>
		function logo_resize () {
			if ($(window).width() <= 600) {
				$('#logo_navbar').height('56px')
			} else {
				$('#logo_navbar').height('64px')
			}
		}
		
		function replace_main() {
			var picture_height = $('#picture').height();
			$('#picture').css({'margin-bottom': - picture_height/2});
			$('#main').css({'padding-top': picture_height/2 - 20});
		}
		
		$(document).ready(function () {
			$('.dropdown-button').dropdown({
			  inDuration: 300,
			  outDuration: 225,
			  constrain_width: true,
			  hover: true,
			  belowOrigin: true
			});
			
			replace_main();
			logo_resize();
			
			//Vérification & envoie du formulaire utilisateur ------------------------------------------
			$('#first_name, #last_name, #mail1').keyup(function () {
				var valeur = $(this).val();
				if ((valeur != "") && (valeur.length >= 3)) {
					becomesValid($(this));
				} else {
					becomesInvalid($(this));
				}
			});
			
			$('#pass1').keyup(function () {
				var valeur = $(this).val();
				if ((valeur != "") && (valeur.length >= 6)) {
					becomesValid($(this));
				} else {
					becomesInvalid($(this));
				}
			});
			
			$('#pass2').keyup(function () {
				var pass1 = $('#pass1').val();
				var pass2 = $(this).val();
				if ((pass1 == pass2) && (pass1.length >= 6)) {
					becomesValid($(this));
				} else {
					becomesInvalid($(this));
				}
			});
			
			$('#mail2').keyup(function () {
				var mail1 = $('#mail1').val();
				var mail2 = $(this).val();
				if (mail1 == mail2) {
					becomesValid($(this));
				} else {
					becomesInvalid($(this));
				}
			});
			
			$('#register_form').submit(function (e) {
				e.preventDefault();
				var firstName = $('#first_name').val();
				var lastName = $('#last_name').val();
				var pass1 = $('#pass1').val();
				var pass2 = $('#pass2').val();
				var mail1 = $('#mail1').val();
				var mail2 = $('#mail2').val();
				if ((firstName != "") && (lastName != "") && (pass1 == pass2) && (pass1 != "") && (mail1 == mail2) && (mail1 != "")) {
					$('#send_form').addClass('disabled');
					$.post(
						'{{ path("su_user_send_registration") }}',
						{
							firstName: firstName,
							lastName: lastName,
							pass: pass1,
							email: mail1
						},
						function (rep) {
							$('#send_user_update').removeClass('disabled');
							if (rep.message == "user_added") {
								var url = "{{ path('login_check') }}"
								var form = $('<form action="' + url + '" method="post">' +
								  '<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />' +
								  '<input id="_username" name="_username" type="text" value="' + mail1 + '">' +
								  '<input id="_password" name="_password" type="password" value="' + pass1 + '">' +
								  '</form>');
								$('body').append(form);
								form.submit();
							} else {
								Materialize.toast("Ooops, le formulaire n'a pas été accepté ... êtes vous sûr(e) de l'adresse mail?", 6000);
								console.log(rep);
							}
						}
					);
				} else {
					Materialize.toast("Formulaire non valide", 5000);
				}
			});
			//------------------------------------------------------------------------------
			
			$(window).resize(function () {
				replace_main();
				logo_resize();
			});
		});
	</script>
	{% endblock %}
  </body>
</html>